@import '../shared/variables';

.levels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex: 1;
    margin: 30px;

    color: $white;
    font-size: 40px;
    background: $black;

    p {
        display: flex;
        padding: 20px 5px;
    }
}
