@import '../shared/mixins';
@import '../shared/variables';

.board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    padding: 10px 25px;

    width: 100%;
    max-width: 1020px;
    margin: auto;

    .card-container {
        display: flex;
        padding: 2px;
        cursor: none;

        .card {
            @include noselect;
            
            cursor: pointer;
            display: flex;
            flex: 0 0 100%;
            align-items: center;
            justify-content: center;
            background: $black;
            border-radius: 3px;
            color: $white;
            font-size: 100px;
        }

        .cover {
            @include waves-background($red, $black);
            border: 2px solid $black;
            text-align: right;
        }

        .found {
            color: $light-red;
            background: $grey;
        }
    }
}
