@import '../shared/variables';

.popup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex: 1;
    margin: 30px;

    color: $white;
    font-size: 30px;
    background: $black;

    p {
        display: flex;
        padding-bottom: 10px;
    }

    button {
        font-size: 24px;
    }
}
