@import '../shared/variables';

.popup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex: 1;
    margin: 30px;

    color: $white;
    font-size: 30px;
    background: $black;

    p {
        display: flex;
        padding-bottom: 10px;
    }

    button {
        margin: 0 5px;
        padding: 10px 20px 10px 20px;
        background: $red;

        color: $white;
        font-size: 24px;
        text-decoration: none;
        
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background: $light-red;
            color: $black;
            border-radius: 0;
        }
    }
}
