@import 'shared/variables';
@import 'shared/mixins';

@import 'components/info-panel';
@import 'components/footer';
@import 'components/playing-board';
@import 'components/popup';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container, .game {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    margin: 0 5px;
    padding: 10px 20px 10px 20px;
    background: $red;
    color: $white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: $light-red;
        color: $black;
        border-radius: 0;
    }
}
